* {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #000000;
  background-color: #fef7f1;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #EF8760;
}

::selection {
  color: #fff;
  background: #EF8760;
}

a:hover {
  text-decoration: none;
}

.header {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1em;
}

/* Navbar */

.navbar {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  top: 0;
  /* width: 88%; */
  z-index: 100;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.navbar.hide {
  visibility: hidden;
  /* display: none; */
}

.ml-auto {
  cursor: pointer;
  font-size: 0.8rem;
}

.ml-auto:active, .ml-auto:hover{
  color: #000000;
}

.nav-item {
  padding: 2em 1em 2em 3em;
}

.logo {
  width: 30px;
}

.nav-link {
  padding: 0;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #191414;
}

.nav-link.active {
  border-bottom: 2px solid #0061FF;
}

.nav-link.active:hover {
  border-bottom: 2px solid #0061FF;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: #000000 !important;
  border-bottom: 2px solid rgba(0,97,255, 0.5);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.Burger {
  padding: 10px !important;
}

button:focus {
  outline: none;
}

@media (min-width: 768px) {
  .Burger {
    display: none !important;
  }
  .navbar-expand-md .navbar-nav .nav-link { 
    padding: 0;
  }
  #subtitle {
    width: 70%;
  }
  .tapcast-jumbo.jumbotron {
    margin-right: 15rem;
    margin-left: -2rem;
  }
  .moxtra-jumbo.jumbotron {
    margin-left: 15rem;
    margin-right: -2rem;
  }
  #moxtra-lead {
    text-align: right;
  }
  .spotify-jumbo.jumbotron {
    margin-right: 15rem;
    margin-left: -2rem;
  }
} 


@media (max-width: 767px) {
  .ml-auto {
    font-size: 1rem;
  }
  .ml-auto:active, .ml-auto:hover{
    color:#000000;
  }
  .navbar-nav .nav-link {
    margin: 15px;
  }
  .nav-item {
    margin: auto;
    padding: 2em 3em 2em 3em;
  }
  .navbar {
    padding: 2rem;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .greetings {
    margin: 100px 0 0 0;
  }
} 

/* Body */

.main {
  margin-bottom: -2rem;
  margin-top: 3rem;
}

.greetings {
  top: 50%;
  width: 100%;
  padding: 5em 1em 5em 1em;
  text-align: left;
  letter-spacing: 0.1rem;
}

.headline{
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  /* color: #2829B6; */
  font-size: 2.5rem;
  letter-spacing: 0rem;
}

#name {
  color:#000000;
  text-decoration: none;
  background-image: linear-gradient(120deg, #0061FF 10%, #0061FF 110%); 
  background-repeat: no-repeat;
  background-size: 100% 0.05em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

#developer {
  color: #0061FF;
}

#name:hover, #name:active {
  background-size: 100% 88%;
  color: #fff;
}

#subtitle {
  margin: 50px 0;
  /* width: 75%; */
  font-weight: 300;
  /* line-height: 1.5; */
  font-size: 1.1rem;
}

/* .contact-bar {
  margin: 48px;
} */

.arrowDownContainer {
  margin: 20px auto;
}

.arrowDown {
  margin: 2px auto 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #0061FF;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  -webkit-animation: 2s ease infinite wheel-up-down;
 -moz-animation: 2s ease infinite wheel-up-down;
  animation: 2s ease infinite wheel-up-down;
} 

@-webkit-keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}
@-moz-keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}

@keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}

/* Projects */

.body {
  /* background-color: rgba(40, 41, 182, 0.9); */
  /* background: #0061FF; */
  /* background: #d8dce4; */
  /* border: 1rem solid #0061FF; */
  background: #fff;
}

.allProjects.container {
  padding: 100px 15px;
}

.btn {
  border-radius: 0rem;
  font-size: 0.8rem;
}

.btn, .btn:link, .btn:visited {
  padding: 0.8rem 0.8rem;
  border: 3px solid #000000;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  /* font-size: 11px; */
  letter-spacing: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn:hover {
  background: #000000;
  border: 3px solid #000000;
  color: #fff;
  border-radius: 30px;
}

.jumbotron {
  border-radius: 0.1rem;
  background: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.secondary-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  color: #0061FF;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* #contact-header {
  margin: 0;
  color: #fff;
} */

.tapcast-jumbo.jumbotron {
  margin-top: -10rem;
}

.display-3, .lead {
  text-align: left;
  margin: 2rem 0;
}

.display-3 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

.lead {
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
}


/* Footer */

.footer {
  left: 0;
  bottom: 0;
  color: #000000;
  width: 100%;
  background-color: #fff;
}

#copyright {
  width: 100%;
  text-align: right;
  font-size: 0.5rem;
  color: #A1A1A1;
}

#react-icon {
  max-width: 15px;
}

.icons {
  width: 100%;
  text-align: left;
}

.contact-icon {
  max-width: 24px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.contact-icon:hover .contact-icon:active{
  opacity: 0.5;
}