* {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #191414;
  background-color: #F2F5F7;
}

a:hover {
  text-decoration: none;
}

.app {
  text-align: center;
  font-family: 'Lato', sans-serif;
  position: absolute;
  margin: 0 auto;
  top: 10%;
  bottom: 10%;
  left: 0;
  right: 0;
}

/* Navbar */

.navbar {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 5px;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: -10px;
  /* background-color: #ffffff; */
  background-color: #F2F5F7;
  z-index: 100;
  /* box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); */
}

.navbar.hide {
  visibility: hidden;
}

.ml-auto {
  cursor: pointer;
  font-size: 0.7rem;
}

.ml-auto:active, .ml-auto:hover{
  color: #191414;
}

.nav-item {
  padding: 2em 3em 2em 3em;
}

.logo {
  width: 35px;
  margin: 0 0 0 15px;
}

.nav-link {
  padding: 0;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #191414;
}

.nav-link.active {
  border-bottom: 2px solid #2829B6;
}

.nav-link.active:hover {
  border-bottom: 2px solid #2829B6;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: #191414 !important;
  border-bottom: 2px solid rgba(40, 41, 182, 0.5);
}

.Burger {
  padding: 10px !important;
}

button:focus {
  outline: none;
}

@media (min-width: 768px) {
  .Burger {
    display: none !important;
  }
  .navbar-expand-md .navbar-nav .nav-link { 
    padding: 0;
  }
} 

@media (max-width: 768px) {
  .ml-auto {
    font-size: 1rem;
  }
  .ml-auto:active, .ml-auto:hover{
    color:#191414;
  }
  .navbar-nav .nav-link {
    margin: 15px;
  }
  .nav-item {
    margin: auto;
  }
  .logo {
    margin: 0 0 0 10px;
  }
} 

/* Body */

.greetings {
  top: 50%;
  padding: 100px 0px 0px 0px;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
}

#headline{
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  /* color: #2829B6; */
}

#name {
  color:#191414;
  text-decoration: none;
  background-image: linear-gradient(120deg, #CBF0E3 0%, #9C9DDD 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

#name:hover, #name:active {
  background-size: 100% 88%;
}

#subtitle {
  margin: 30px 0;
  font-weight: 300;
  line-height: 1.5;
}

/* .contact-bar {
  margin: 48px;
} */

.arrowDownContainer {
  margin: 20px auto;
}

.arrowDown {
  margin: 2px auto 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #9C9DDD;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  -webkit-animation: 2s ease infinite wheel-up-down;
 -moz-animation: 2s ease infinite wheel-up-down;
  animation: 2s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}
@-moz-keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}

@keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}

/* Footer */

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #505050;
  width: 100%;
  background-color: #fff;
}

#copyright {
  width: 100%;
  text-align: right;
  font-size: 0.5rem;
  color: #A1A1A1;
}

#react-icon {
  max-width: 15px;
}

.icons {
  width: 100%;
  text-align: left;
}

.contact-icon {
  max-width: 24px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.contact-icon:hover .contact-icon:active{
  opacity: 0.5;
}