* {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #444444;
  background-color: rgba(0, 0, 0, 0.03);
}

.app {
  text-align: center;
  font-family: 'Lato', sans-serif;
  position: absolute;
  margin: 0 auto;
  top: 10%;
  bottom: 10%;
  left: 0;
  right: 0;
}

/* Navbar */

.navbar {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 5px;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: -10px;
  background-color: #ffffff;
  z-index: 100;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.ml-auto {
  cursor: pointer;
  font-size: 0.7rem;
}

.nav-item {
  padding: 0em 1.5em 0em 1.5em;
}

.logo {
  width: 24px;
  margin: 0 0 0 10px;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0);
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.nav-link.active {
  color: #666;
  border-bottom: 2px solid #2829B6;
}

.navbar-toggler {
  font-size: 1rem;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

.Burger {
  padding: 0 10px 20px 0 !important;
}

.BurgerBox {
  width: 25px !important;
  height: 5px !important;
}

.BurgerInner, .BurgerInner:before, .BurgerInner:after {
  height: 1px !important;
}

button:focus {
  outline: none;
}

/* Body */

.greetings {
  top: 50%;
  padding: 75px 0px 0px 0px;
  text-align: left;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
}

#name, #headline {
  font-weight: 300;
  line-height: 1.5;
  color: black;
}

.contact-bar {
  margin: 48px;
}

/* Footer */

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #505050;
  width: 100%
}

#copyright {
  width: 100%;
  text-align: right;
  font-size: 0.5rem;
  color: #A1A1A1;
}

#react-icon {
  max-width: 15px;
}

.icons {
  width: 100%;
  text-align: left;
}

.contact-icon {
  max-width: 24px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.contact-icon:hover {
  opacity: 0.5;
}